body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #121212;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 866px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
}
.container_wrapper {
  width: 1440px;
  height: 100%;
  background: #121212;
  position: relative;
}
.container_HeadText {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  margin-top: 260px;
}

.text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 110px;
  color: #FFFFFF;
  display: inline-block;
}
.text_1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  color: #FFFFFF;
  margin-top: 9px;
}
.text_2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 10px;
}
.text_socials {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
}

#cruz {
  color: #0EE3E3;
}

#web {
  color: #0EE3E3;
}

.icon {
  margin-right: 20px;
  opacity: 0.4;
}
.icon_git {
  margin-right: 20px;
  opacity: 0.4;
}
.icon_ig {
  margin-right: 13px;
  opacity: 0.4;
}

.icon:hover {
  opacity: 1;
}

.icon_git:hover {
  opacity: 1;
}

.icon_ig:hover {
  opacity: 1;
}

.main-image {
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

.main-pic {
  position: relative;
  top: 4px;
}

.quick_container {
  width: 100%;
  height: 371px;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick_container_wrapper {
  width: 1440px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.quick_view {
  position: absolute;
  width: 1141px;
  height: 424px;
  background: #fff;
  top: -80px;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.over_container {
  position: relative;
  width: 500px;
  top: 30px;
  left: 100px;
}
.over_container_text {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;
}

.quick_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 40px;
}
.quick_text_content {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: #000000;
  margin-left: 12px;
  position: relative;
}

.latest_container {
  width: 534px;
  position: absolute;
  left: 600px;
  height: 395px;
  bottom: 1px;
}
.latest_container_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  position: relative;
  margin-bottom: 40px;
  padding-top: 3px;
}

.proj-pic {
  opacity: 1;
}

.proj-pic:hover {
  margin-top: -15px;
  transition-duration: 0.4s;
  border-bottom: 20px solid #0EE3E3;
}

.menu_container {
  width: 100%;
  height: 80px;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.menu_container_wrapper {
  width: 1438px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 0.7fr 1fr 1fr 1fr 1fr;
}

.menu_container:sticky {
  background: red;
}

.Logo_container {
  padding-top: 20px;
}

.button {
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
}
.button_about {
  text-align: center;
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
}
.button_services {
  text-align: center;
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
}
.button_portfolio {
  text-align: center;
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
}
.button_contact {
  text-align: center;
  text-align: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
}

.button:hover {
  color: #0EE3E3;
}

.button_about:hover {
  color: #0EE3E3;
}

.button_services:hover {
  color: #0EE3E3;
}

.button_portfolio:hover {
  color: #0EE3E3;
}

.button_contact:hover {
  color: #0EE3E3;
}

.button > a {
  color: inherit;
  text-decoration: none;
}

.button_about > a {
  color: inherit;
  text-decoration: none;
}

.button_services > a {
  color: inherit;
  text-decoration: none;
}

.button_portfolio > a {
  color: inherit;
  text-decoration: none;
}

.button_contact > a {
  color: inherit;
  text-decoration: none;
}

.who_container {
  height: 825px;
  width: 100%;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who_container_wrapper {
  width: 1438px;
  height: 100%;
  position: relative;
}

.about-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;
  color: #656565;
  position: relative;
  top: 59px;
  position: absolute;
}

.about-text::after {
  content: "";
  width: 138px;
  height: 1px;
  background: #0EE3E3;
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.who_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  position: absolute;
  top: 87px;
}

.about_content {
  width: 100%;
  height: 595px;
  position: absolute;
  top: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-container {
  position: relative;
  z-index: 1;
}

.text-content {
  position: relative;
}

.student {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #0EE3E3;
  padding-left: 55px;
}

.intro {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  padding-left: 55px;
  margin-top: 13px;
}

.info-cont {
  margin-top: 40px;
}

.info {
  display: flex;
  flex-direction: row;
  padding-left: 55px;
  margin-bottom: 21px;
}
.info_img {
  padding-top: 5px;
  margin-right: 17.11px;
}
.info_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  color: #FFFFFF;
}

#info-span {
  font-weight: 400;
}

.interest_container {
  width: 100%;
  height: 452px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interest_container_wrapper {
  width: 1440px;
  height: 100%;
}

.interest_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;
  color: #656565;
  position: relative;
  top: 20px;
}

.interest_text::after {
  content: "";
  width: 152px;
  height: 1px;
  background: #0EE3E3;
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.interest_content {
  height: 330px;
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 54px;
  position: relative;
  top: 50px;
}
.interest_content_box {
  width: 432px;
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(48, 48, 48, 0.3);
}
.interest_content_image {
  position: relative;
  left: 29px;
}
.interest_content_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  right: 70px;
}

#move {
  position: relative;
  right: 30px;
}

.interest_content_box:hover {
  background: rgb(48, 48, 48);
}

.skill_container {
  width: 100%;
  height: 451px;
  display: grid;
  place-items: center;
}
.skill_container_wrapper {
  width: 1440px;
  height: 100%;
}

.skill_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;
  color: #656565;
}

.skill_text::after {
  content: "";
  width: 138px;
  height: 1px;
  background: #0EE3E3;
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.skill_content {
  height: 283px;
  width: 100%;
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 130px;
  grid-row-gap: 30px;
}

.info1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  flex-direction: row;
  padding-left: 55px;
  margin-bottom: 21px;
}

.lan-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.lan-text-name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  position: relative;
  right: 55px;
}

.bar {
  width: 655px;
  height: 20px;
  background: rgba(48, 48, 48, 0.3);
  position: relative;
}

.bar > span {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #0EE3E3;
}

#html {
  width: 60%;
  -webkit-animation: html 3s;
          animation: html 3s;
}

@-webkit-keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
#script {
  width: 15%;
  -webkit-animation: script 3s;
          animation: script 3s;
}

@-webkit-keyframes script {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}

@keyframes script {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}
#figma {
  width: 80%;
  -webkit-animation: figma 3s;
          animation: figma 3s;
}

@-webkit-keyframes figma {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes figma {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.services_container {
  height: 729px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_container_wrapper {
  width: 1440px;
  height: 100%;
}

.services_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;
  color: #656565;
}

.services_text::after {
  content: "";
  width: 244.5px;
  height: 1px;
  background: #0EE3E3;
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.provide {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.services_content {
  height: 525px;
  width: 100%;
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 55px;
}
.services_content_box {
  background: rgba(101, 101, 101, 0.1);
  height: 100%;
}

.services_img_container {
  text-align: center;
  padding-top: 86px;
}

.services_box_text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 33px;
}
.services_box_text_descript {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 56px;
}

.anch-services {
  text-decoration: none;
}

.services_content_box:hover {
  background: rgba(101, 101, 101, 0.4);
  position: relative;
  bottom: 30px;
  transition-duration: 0.6s;
}

.services_content_box:hover::after {
  content: "";
  width: 100%;
  height: 30px;
  display: block;
  background: #0EE3E3;
  position: relative;
  bottom: -130px;
  transition-duration: 0.6s;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
  }
  .container_wrapper {
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_HeadText {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 1000px;
  }
  .text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    bottom: 100px;
  }
  .text_1 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 5px;
    position: relative;
    bottom: 100px;
  }
  .text_2 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 5px;
    position: relative;
    bottom: 100px;
  }
  .text_socials {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;
    bottom: 100px;
  }
  .img_icon {
    height: 36px;
  }
  .img_icon_1 {
    height: 36px;
  }
  .img_icon_2 {
    height: 36px;
  }
  .icon {
    margin-right: 9px;
    opacity: 0.4;
  }
  .icon_git {
    margin-right: 9px;
    opacity: 0.4;
  }
  .icon_ig {
    margin-right: 9px;
    opacity: 0.4;
  }
  .main-image {
    position: relative;
    right: 30px;
    top: 113px;
  }
  .main-pic {
    height: 335px;
  }
  .quick_container {
    width: 100% !important;
    height: 405px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quick_container_wrapper {
    width: 390px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .quick_view {
    width: 321px;
    position: relative;
    height: 430px;
    background: #fff;
    top: -40px;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .over_container {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
  }
  .over_container_img {
    display: none;
  }
  .over_container_text {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    position: relative;
    right: 45px;
  }
  .quick_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    color: #000000;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    right: 45px;
  }
  .quick_text_content {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    color: #000000;
    text-align: center;
    font-size: 10px;
    line-height: 6px;
  }
  .latest_container {
    position: absolute;
    right: 800px;
    width: 247px;
    left: 0;
    height: 191px;
  }
  .latest_container_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    left: 40px;
  }
  .proj-pic {
    opacity: 1;
    width: 247px;
    height: 147px;
    position: relative;
    left: 40px;
  }
  .proj-pic:hover {
    margin-top: -3px;
    transition-duration: 0.4s;
  }
  .menu_container {
    width: 100%;
    height: 50px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: -5;
    z-index: 100;
  }
  .menu_container_wrapper {
    width: 321px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.1fr 1fr 2.5fr 2.2fr 2fr;
    text-align: center;
    padding-bottom: 20px;
  }
  .Logo_container {
    text-align: center;
    padding-top: 15px;
  }
  .logo {
    height: 17.96px;
  }
  .button {
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    padding-top: 21px;
  }
  .button_about {
    text-align: center;
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    padding-top: 21px;
  }
  .button_services {
    text-align: center;
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    padding-top: 21px;
  }
  .button_portfolio {
    text-align: center;
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    padding-top: 21px;
  }
  .button_contact {
    text-align: center;
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    padding-top: 21px;
  }
  .who_container {
    height: 750px;
    width: 100%;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .who_container_wrapper {
    width: 321px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #656565;
    position: relative;
    top: 24px;
    position: absolute;
  }
  .about-text::after {
    content: "";
    width: 43px;
    height: 1px;
    background: #0EE3E3;
    display: block;
    position: relative;
    top: 3px;
  }
  .who_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 50px;
  }
  .about_content {
    width: 100% px;
    height: auto;
    position: absolute;
    top: 90px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .hero-container {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  .hero-main {
    height: 404px;
    width: 321px;
  }
  .text-content {
    position: relative;
    display: inline-block;
  }
  .student {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #0EE3E3;
    position: relative;
    right: 30px;
    width: 100% px;
    text-align: center;
  }
  .intro {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 8px;
    position: relative;
    right: 30px;
    text-align: center;
  }
  .arr_img {
    height: 9.93px;
  }
  .info-cont {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 55px;
    margin-bottom: 0;
  }
  .info_img {
    display: none;
  }
  .info_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 3px;
    text-align: center;
    position: relative;
    left: 30px;
  }
  #info-span {
    font-weight: 400;
  }
  .interest_container {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .interest_container_wrapper {
    width: 321px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .interest_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #656565;
    position: relative;
    top: 1px;
  }
  .interest_text::after {
    content: "";
    width: 70px;
    height: 1px;
    background: #0EE3E3;
    display: block;
    position: relative;
    top: 5px;
  }
  .interest_content {
    height: 198px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    position: relative;
    top: 30px;
  }
  .interest_content_box {
    width: 148px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(48, 48, 48, 0.3);
  }
  .interest_content_image {
    position: relative;
    left: 16px;
    height: 21px;
    font-size: 6px;
    line-height: 7px;
  }
  .interest_content_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 7px;
    color: #FFFFFF;
    position: relative;
    right: 30px;
  }
  #move {
    position: relative;
    right: 10px;
  }
  .interest_content_box:hover {
    background: rgb(48, 48, 48);
  }
  .skill_container {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
  }
  .skill_container_wrapper {
    width: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .skill_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #656565;
  }
  .skill_text::after {
    content: "";
    width: 43px;
    height: 1px;
    background: #0EE3E3;
    display: block;
    position: relative;
    top: 5px;
  }
  .skill_content {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 0;
  }
  .skill_b {
    height: 10px;
  }
  .info1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    padding-left: 55px;
  }
  .lan-text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 6px;
    color: #FFFFFF;
  }
  .lan-text-name {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    color: #FFFFFF;
    position: relative;
    right: 55px;
  }
  .bar {
    width: 100%;
    height: 10px;
    background: rgba(48, 48, 48, 0.3);
    position: relative;
  }
  .bar > span {
    width: 50%;
    height: 100%;
    position: absolute;
    background: #0EE3E3;
  }
  #html {
    width: 60%;
    -webkit-animation: html 3s;
            animation: html 3s;
  }
  @-webkit-keyframes html {
    0% {
      width: 0;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes html {
    0% {
      width: 0;
    }
    100% {
      width: 60%;
    }
  }
  #script {
    width: 15%;
    -webkit-animation: script 3s;
            animation: script 3s;
  }
  @-webkit-keyframes script {
    0% {
      width: 0;
    }
    100% {
      width: 15%;
    }
  }
  @keyframes script {
    0% {
      width: 0;
    }
    100% {
      width: 15%;
    }
  }
  #figma {
    width: 80%;
    -webkit-animation: figma 3s;
            animation: figma 3s;
  }
  @-webkit-keyframes figma {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes figma {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  .services_container {
    height: 1310px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services_container_wrapper {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-skill {
    height: 51px;
  }
  .services_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #656565;
  }
  .services_text::after {
    content: "";
    width: 64px;
    height: 1px;
    background: #0EE3E3;
    display: block;
    position: relative;
    top: 1px;
  }
  .provide {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 8px;
  }
  .services_content {
    height: 525px;
    width: 100%;
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .services_content_box {
    background: rgba(101, 101, 101, 0.1);
    height: 382px;
  }
  .services_img_container {
    text-align: center;
    padding-top: 70px;
  }
  .services_box_text {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 33px;
  }
  .services_box_text_descript {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 35px;
  }
  .anch-services {
    text-decoration: none;
  }
  .services_content_box:hover {
    background: rgba(101, 101, 101, 0.4);
    position: relative;
    bottom: 30px;
    transition-duration: 0.6s;
  }
  .services_content_box:hover::after {
    content: "";
    width: 100%;
    height: 30px;
    display: block;
    background: #0EE3E3;
    position: relative;
    bottom: -50px;
  }
}/*# sourceMappingURL=home.css.map */